@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --bg-color: rgb(243 229 216);
    --content-bg-color: #fff;
    --title-color: hsl(14, 45%, 36%);
    --subtitle-color: hsl(332, 51%, 32%);
    --text-color-1: rgb(121 118 113);
    --text-color-2: hsl(30, 10%, 34%);
    --header-color: hsl(24, 5%, 18%);
    --line-color: hsl(30, 18%, 87%);
    --eggshell: hsl(30, 54%, 90%);
    --section-spacing: 24px;
    --header-spacing: 16px;
    --header-font-family: "Young Serif", serif;
    --font-family: "Outfit", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--text-color-1);
}

.container {
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    padding: 10% 0 calc(10% - 48px);
}

.content {
    background-color: var(--content-bg-color);
    width: 50%;
    border-radius: 25px;
    padding: 2.7%;
    transition: all 0.4s;
}

.content-img {
    height: auto;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 24px;
}

h1 {
    font-family: var(--header-font-family);
    font-size: 2.3rem;
    font-weight: 400;
    color: var(--header-color);
    margin-bottom: var(--header-spacing);
}

section {
    padding: var(--section-spacing) 0 calc(var(--section-spacing) - 2px);
}

section + section {
    border-bottom: 1px solid var(--line-color);
}

section:last-child {
    border-bottom: none;
}

.preparation-time {
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    display: block;
    padding: 24px 24px 12px;
    margin: var(--section-spacing) 0 0;
    border: none;
}

h3 {
    color: var(--title-color);
    font-family: var(--header-font-family);
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
}

.preparation-time h3 {
    color: var(--subtitle-color);
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 600;
}

ul,
ol {
    line-height: 1.8;
    margin-left: 26px;
}

.square-style {
    list-style-type: square;
}

ul li {
    font-size: 12px;
}

ul li,
ol li {
    margin-bottom: 12px;
}

li span {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    padding-left: 14px;
    display: block;
}

li::marker {
    color: var(--title-color);
    font-weight: 600;
}

.preparation-time li::marker {
    color: var(--subtitle-color);
}

.text-bold {
    display: inline-block;
    color: var(--text-color-2);
    font-weight: 700;
    margin-left: 0;
    padding-left: 0;
    padding-right: 6px;
}

.nutrition p {
    margin: 16px 0;
}

table {
    width: 100%;
    text-align: left;
    margin-bottom: -22px;
}

td {
    border-bottom: 1px solid var(--line-color);
    font-weight: 400;
    padding: 10px 0 11px;
    padding-left: 30px;
}

td:last-child {
    color: var(--title-color);
    font-weight: bold;
    display: block;
    margin-left: -2px;
}

tr:last-child td {
    border-bottom: none;
    padding: 10px 0;
    padding-left: 30px;
}

.attribution { 
    width: 100%;
    font-size: 13px; 
    text-align: center; 
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}
.attribution a { 
    color: var(--text-color-1); 
    margin-left: 4px;
}

@media only screen and (max-width: 1024px) {
    .content {
        width: 66%;
    }
}


@media only screen and (max-width: 768px) {
    .content {
        width: 77%;
        padding: var(--section-spacing);
        position: relative;
    }
}

@media only screen and (max-width: 444px) {
    .container {
        padding: 0;
    }

    .content {
        width: 100%;
        padding: var(--section-spacing);
        border-radius: 0;
        position: relative;
        min-width: 375px;
    }

    .content-img {
        border-radius: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    h1 {
        margin-top: 50%;
    }
}